# Ignorar archivos de configuración de IDE
.vscode/
.idea/

# Ignorar archivos de dependencias
node_modules/
package-lock.json

# Ignorar archivos de construcción
dist/
build/

# Ignorar archivos de entorno
.env